@inject FiligraneService filigraneService

<div class="filigrane">
    @filigraneService.GenererFiligrane(nomVille)
</div>

@code {
    [Parameter]
    public string nomVille { get; set; } = default!;
}
