<div class="carte">
    <div class="image-fond">
        <a href="@ville.LienWikipedia">
            <Image image=@ville.Image />
        </a>
    </div>
    <div class="libelle fond-blanc">
        <Filigrane nomVille=@villeDepart.Nom />
        <h2 class="nom">@ville.Nom</h2>
    </div>
</div>

@code {
    [Parameter]
    public Ville ville { get; set; } = default!;

    [Parameter]
    public Ville villeDepart { get; set; } = default!;
}