@using A_villes_d_oiseau.Villes
                    
<div class="carte">
    <div class="image-fond">
        <a href="@ville.LienWikipedia">
            <img src="@ville.Image" />
        </a>
    </div>
    <div class="libelle fond-blanc">
        <h2 class="distance">
            @string.Format("{0:#,##0} km", ville.Coordonnees.GetDistanceTo(villeDepart.Coordonnees) / 1000)
        </h2>
        <h4 class="nom">@ville.Nom</h4>
    </div>
</div>


@code {
    [Parameter]
    public Ville ville { get; set; } = default!;

    [Parameter]
    public Ville villeDepart { get; set; } = default!;
}